* {
    border: none;
    font-family: Inconsolata Nerd Font Mono, sans-serif;
    font-size: 14px;
	font-weight: bold;
    min-height: 0;
	border-radius: 0px;
}

window#waybar {
	background: rgba(11, 11, 11, 0.8);
    border-bottom: 1px solid crimson;
    color: white;
}

tooltip {
  border: 1px solid crimson; 
}
tooltip label {
  color: white;
}

#workspaces button {
    padding: 0px 0px;
	color: white;
}

#workspaces button.focused {
	color: crimson;
}

.module {
    padding: 5px 5px;
	margin: 1px 5px;
	color: crimson;
}

#clock button:hover {
	color: blue;
}

@keyframes blink {
    to {
        background-color: #ffffff;
        color: black;
    }
}

#battery.warning:not(.charging) {
    background: #f53c3c;
    color: white;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: steps(12);
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
